.headline {
  width: 100%;
  height: 20px;
  font-size: 18px;
  margin: auto 0;
}

.searchFeld {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-btn,
.text-feld {
  height: 35px;
  border: 2px solid #dadada;
  cursor: pointer;
}

.text-feld {
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
  border-right: none;*/
  border-radius: 15px;
  background-color: #ededed;
  padding: 10px;
  width: 50%;
}

.search-btn {
  padding: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 10%;
  border-left: none;
}

.contact{
  widows: 100%;
  height: 60px;
  text-align: left;
  padding: 5px 10px;

}

.contact-name{
  color: #000000;
  margin-right: 5px;
}

.contact-number,
.contact-gender{
  opacity: .6;
}

label{
  margin: 0 20px 0 10px;
}

input[type="checkbox"]{
  cursor: pointer;
  margin-bottom: 15px;
}